.header{
  height:120px;
  background-color: white;
  border-bottom: 1px solid #CCC;
}
.logo{
  font-size: 36px;
  color: #6F6F6F;
  font-weight: 700;
  line-height: 120px;
  vertical-align: middle;
  font-family: monospace;
}
.version-field{position: absolute;margin-top: -30px;color: #a2a2a2}
.menu{
  height:80px;
  color: #ADAEAE;
  background-color: white;
}
.menu-item{padding-top: 20px;}
.menu-item .fa{font-size: 36px;}
.menu-item span{display: inline-block;padding-left: 5px;position: relative;top:-5px;font-size: 24px;}
.menu-item{color: #ADAEAE;}
.menu .menu-item.active,.menu .menu-item:hover{color: #0099FB;cursor: pointer}
.main{margin-top: 50px;}
